
body{
    margin: 0;
    padding: 0;
    font-family: Tomorrow, 'Titillium Web';
}

#root{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000906;
}

.app{
    //width: 100%;
    width: 100%;
    height: auto;
}

.scifi-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000906f5;
    inset: 0;
    //background-image: radial-gradient(85% 85% at 50% 50%, hsla(185, 100%, 25%, 0.171) 0%, hsla(185, 100%, 25%, 0.12) 50%, hsla(185, 100%, 25%, 0) 100%);
    z-index: 1;
    pointer-events: none;
}

.main-canvas{
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
}

.main-overlay{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 15px 40px 0 40px;
    pointer-events: none;
}

.welcome-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-image{
    width: 40px;
    height: 40px;

    // Spinning
    animation: spin 20s linear infinite;

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

.theme-frame{
    position: relative;
    width: 100%;
    height: auto;
    pointer-events: none;
}